# git ignore file
*.suo
*/obj/*
Routeur/bin/*
TestWriteableBitmapEx\bin\Debug*/
TestWriteableBitmapEx\bin\Debug*/
TestWriteableBitmapEx/bin/Debug/TestWriteableBitmapEx.pdb
TestWriteableBitmapEx/bin/Debug/TestWriteableBitmapEx.exe
TestWriteableBitmapEx\bin\Debug*/
TestWriteableBitmapEx/bin/Debug/
